<table class="pure-table pure-table-bordered" width="100%">
  <thead>
    <tr>
      <th>Date</th>
      {% if not hide_customer %}
        <th>Customer</th>
      {% endif %}
      <th>Description</th>
      <th>Total</th>
      <th>Action</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for o in object_list %}
      <tr valign="top">
        <td>
          <small>
            {{ o.checkout_date|date:'d/m/Y' }}
            <br>
            {{ o.checkout_date|date:'H:i' }}
          </small>
        </td>
        {% if not hide_customer %}
          <td>
            {% if o.content_object_url %}
              <a href="{{ o.content_object_url }}">
                {{ o.content_object.checkout_name }}
              </a>
            {% endif %}
            <br>
            <small>
              <a href="{% url 'checkout.customer' %}?email={{ o.content_object.checkout_email|urlencode }}">
                <i class="fa fa-shopping-cart"></i>
                {{ o.content_object.checkout_email }}
              </a>
            </small>
          </td>
        {% endif %}
        <td>
          <small>
            {{ o.description }}
          </small>
        </td>
        <td align="right">
          {% include 'checkout/_checkout_total.html' %}
        </td>
        <td>
          {% include 'checkout/_checkout_action.html' %}
        </td>
        <td>
          {% if o.state.is_fail %}
            <i class="fa fa-warning"></i>
          {% endif %}
          {{ o.state.name }}
          <small>
            {% if o.user %}
              ({{ o.user.username }})
            {% endif %}
            {% if o.decline_code %}
              <br>
              ({{ o.decline_code }})
              {{ o.decline_message }}
            {% endif %}
          </small>
          <br>
          <small>
            {% if o.payment_intent_id %}
              Payment intent: {{ o.payment_intent_id }}
            {% endif %}
            {% if o.setup_intent_id %}
              Setup intent: {{ o.setup_intent_id }}
            {% endif %}
          </small>
          <br>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
