<li class="pure-menu-item">
  <a href="{% url 'checkout.list' %}" class="pure-menu-link">
    <i class="fa fa-shopping-cart"></i>
    Checkout
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'checkout.list.pay.on.session' %}" class="pure-menu-link">
    <i class="fa fa-shopping-cart"></i>
    Waiting for Customer
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'checkout.list.audit' %}" class="pure-menu-link">
    <i class="fa fa-shopping-cart"></i>
    Audit
  </a>
</li>
{% if user.is_superuser %}
  <li class="pure-menu-item">
    <a href="{% url 'checkout.list.payment.intent' %}" class="pure-menu-link">
      <i class="fa fa-shopping-cart"></i>
      Payment Intent
    </a>
  </li>
  <li class="pure-menu-item">
    <a href="{% url 'checkout.list.setup.intent' %}" class="pure-menu-link">
      <i class="fa fa-shopping-cart"></i>
      Setup Intent
    </a>
  </li>
{% endif %}
