<span style="white-space: nowrap;">
  {% if o.state.is_cancel %}
    <del>
  {% endif %}
  {{ o.action.name }}
  {% if o.state.is_cancel %}
    </del>
  {% endif %}
</span>
{% for line in o.invoice_data %}
  {% if forloop.first %}
    <br><small>{{ o.invoice_data|join:", " }}</small>
  {% endif %}
{% endfor %}
{% if o.date_of_birth %}
  {# this is legacy field no longer input #}
  <br><small>DOB: {{ o.date_of_birth }}</small>
{% endif %}
{% for line in o.previous_address_data %}
  {% if forloop.first %}
    <br><small>Previous Address: {{ o.previous_address_data|join:", " }}</small>
  {% endif %}
{% endfor %}
