{% if o.total %}
  {% if o.is_payment_plan or o.is_manual %}
    <small>
      ({{ o.total }})
    </small>
  {% elif o.state.is_cancel %}
    <del>
      {{ o.total }}
    </del>
  {% else %}
    <strong>
      {{ o.total }}
    </strong>
  {% endif %}
{% endif %}
