{% if action.is_payment_plan %}
  <h4>
    Terms and Conditions
  </h4>

  At a minimum, ensure that your terms cover the following:

  <ul>
    <li>
      The customer's permission to you initiating a payment or a series of
      payments on their behalf
    </li>
    <li>
      The anticipated frequency of payments (i.e., one-time or recurring)
    </li>
    <li>
      How the payment amount will be determined
    </li>
  </ul>

  Add text in your checkout flow that references the terms of the payment,
  for example:
  <br>
  I authorise [your business name] to send instructions to the financial
  institution that issued my card to take payments from my card account in
  accordance with the terms of my agreement with you.

  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Instalment</th>
        <th>Date</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for x in payment_plan_example %}
        <tr valign="top">
          <td>
            {{ forloop.counter }}.
          </td>
          <td>
            {{ x.0|date:'d/m/Y' }}
          </td>
          <td>
            {{ x.1 }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
