<script src="https://js.stripe.com/v3/"></script>

{% if action.is_payment or action.is_pay_on_session or action.is_payment_plan or action.is_card_refresh %}
<h4>
  {% if action.is_payment %}
  Payment for &pound;{{ checkout_total }}
  {% elif action.is_pay_on_session %}
  Payment for &pound;{{ checkout_total }}
  {% elif action.is_payment_plan %}
  Payment Plan
  {% elif action.is_card_refresh %}
  Card Refresh
  {% endif %}
</h4>
{% endif %}
<form action="." method="post" id="payment-form" class="pure-form">
  {% csrf_token %}
  <div class="form-row">
    <label for="card-number-element">
      Please enter your Credit or Debit card details:
    </label>
    <div id="card-number-element"></div>
    <div class="stripe-card-details">
      <div>
      <div id="card-expiry-element"></div>
      </div>
      <div>
      <div id="card-cvc-element"></div>
      </div>
    </div>
    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>
  <button
    id="card-button"
    type="submit"
    data-secret="{{ client_secret }}"
    class="pure-button pure-button-primary">
    {% if action.is_payment or action.is_pay_on_session %}
      Submit Payment for &pound;{{ checkout_total }}
    {% elif action.is_payment_plan %}
      Setup Payment Plan
    {% elif action.is_card_refresh %}
      Refresh Card Details
    {% else %}
      Submit
    {% endif %}
  </button>
</form>
