<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Checkout</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'checkout.dash' %}" class="pure-menu-link">
      <i class="fa fa-shopping-cart"></i>
      Dashboard
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'checkout.payment.plan.list' %}" class="pure-menu-link">
      <i class="fa fa-credit-card"></i>
      Payment Plan Setup
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'checkout.settings' %}" class="pure-menu-link">
      <i class="fa fa-credit-card"></i>
      Settings
    </a>
  </div>
</div>
