<div id="stripe-modal-content">
  <div id="stripe-modal-company"></div>
  <div id="stripe-modal-description"></div>
  <div id="stripe-modal-email"></div>
  {% include 'checkout/_elements.html' %}
</div>
