Total: &pound;{{ o.total }}
<br />
{% for item in o.payments %}
  {{ item.count }}.
  {{ item.due|date:'d/m/Y' }}
  &pound;{{ item.amount }}
  {% if item.deposit %}
    <strong>deposit</strong>
  {% elif forloop.last %}
    final
  {% endif %}
  ({{ item.state.name }})
  {% if item.state.is_pay_on_session %}
    <small>
      <a href="{% url 'checkout.object.payment.plan.instalment.email' item.pk %}">
        <i class="fa fa-envelope-o"></i>
        Request on-session payment...
      </a>
    </small>
  {% endif %}
  <br />
{% endfor %}
