{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Checkout
  {% if audit %}
    Audit
  {% endif %}
{% endblock title %}

{% block sub_heading %}
  Checkout
  {% if audit %}
    Audit
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
          {% include 'checkout/_checkout_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'checkout/_checkout_list.html' %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
          {% include 'checkout/_checkout_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
