{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Customer
{% endblock title %}

{% block sub_heading %}
  Customer - {{ email }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
        {% if customers %}
          <table class="pure-table pure-table-bordered" width="100%">
            <thead>
              <tr>
                <th>Customer</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>
              {% for customer in customers %}
                <tr valign="top">
                  <td>
                    {{ customer.name }}
                    <br>
                    {{ customer.email }}
                    {% if customer.refresh %}
                      <br>
                      Awaiting Customer Refresh
                    {% endif %}
                  </td>
                  <td>
                    {{ customer.created|date:'d/m/Y H:i' }}
                    {% if customer.expiry_date %}
                      <br>
                      Expires: {{ customer.expiry_date }}
                    {% endif %}
                    <br>
                    <a href="{% url 'checkout.customer.card.refresh.request' customer.pk %}">
                      <i class="fa fa-envelope-o"></i>
                      Request Card Update
                    </a>
                    <br>
                    <a href="https://dashboard.stripe.com/customers/{{ customer.customer_id }}" target="_blank">
                      <i class="fa fa-external-link"></i>
                      Stripe
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          There are no customers with this email address.
        {% endif %}
        {% if contacts %}
          <br>
          <table class="pure-table pure-table-bordered" width="100%">
            <thead>
              <tr>
                <th>Contact</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
                <tr valign="top">
                  <td>
                    <a href="{{ contact.get_absolute_url }}">
                      {% if contact.deleted %}
                        <strike>
                      {% endif %}
                      {{ contact.full_name }}
                      {% if contact.deleted %}
                        </strike>
                      {% endif %}
                    </a>
                    <br>
                    {{ contact.user.email }}
                  </td>
                  <td>
                    {{ contact.created|date:'d/m/Y H:i' }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <br>
          There are no contacts with this email address.
        {% endif %}
        {% if payment_plans %}
          <br>
          <table class="pure-table pure-table-bordered" width="100%">
            <thead>
              <tr>
                <th>Payment Plan</th>
              </tr>
            </thead>
            <tbody>
              {% for o in payment_plans %}
                <tr valign="top">
                  <td>
                    <small>
                      {% if o.deleted %}
                        <strike>
                      {% endif %}
                      <a href="{% url 'checkout.object.payment.plan' o.pk %}">
                        {{ o.content_object.checkout_description|join:', ' }}
                      </a>
                      {% if o.deleted %}
                        </strike>
                      {% endif %}
                      <br>
                      {{ o.content_object.checkout_email }}
                      <br>
                      Created {{ o.created|date:'d/m/Y H:i' }}.
                      Payment Plan: {{ o.payment_plan.name }}
                      <br>
                      {% include 'checkout/_total_and_instalments.html' %}
                    </small>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="pure-u-1">
            <br>
            There are no payment plans for this customer.
          </div>
        {% endif %}
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      {% if audit %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>Checkout</th>
              <th>Description</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for o in audit %}
              <tr valign="top">
                <td>
                  {% if o.state.is_cancel %}
                    <del>
                  {% endif %}
                  {{ o.checkout_date|date:'d/m/Y H:i' }}
                  {% if o.state.is_cancel %}
                    </del>
                  {% endif %}
                  <br>
                  {% include 'checkout/_checkout_action.html' %}
                </td>
                <td>
                  {% if o.content_object_url %}
                    <a href="{{ o.content_object_url }}">
                      {{ o.description }}
                    </a>
                  {% else %}
                    {{ o.description }}
                  {% endif %}
                  <br>
                  <small>
                    {{ o.content_object.checkout_name }}
                  </small>
                </td>
                <td>
                  {% include 'checkout/_checkout_total.html' %}
                  <br>
                  {% if o.state.is_fail %}
                    <i class="fa fa-warning"></i>
                  {% endif %}
                  <small>
                    {{ o.state.name }}
                    {% if o.user %}
                      <br>
                      ({{ o.user.username }})
                    {% endif %}
                    {% if o.decline_code %}
                      <br>
                      ({{ o.decline_code }})
                      {{ o.decline_message }}
                    {% endif %}
                  </small>
                </td>
              <tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        There are no checkout transactions for this customer.
      {% endif %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
