{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Payment
{% endblock title %}

{% block sub_heading %}
  Payment
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'checkout.customer' %}?email={{ customer.email|urlencode }}" class="pure=menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      Take a payment for
      {{ customer.name }},
      {{ customer.email }}
      {% include '_form.html' %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'checkout.customer' %}?email={{ customer.email|urlencode }}" class="pure=menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
