{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Customer Checkout Update
{% endblock title %}

{% block sub_heading %}
  Customer Checkout Update - {{ object.checkout_email }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'checkout.customer' %}?email={{ object.checkout_email|urlencode }}" class="pure=menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <p>
        Click the button to update the card details for
        {{ object.checkout_name }},
        {{ object.checkout_email }},
      </p>
      {% include 'checkout/_elements.html' %}
      {# include '_form.html' with form_id='id_checkout_form' submit='Update...' #}
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'checkout.customer' %}?email={{ object.checkout_email|urlencode }}" class="pure=menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {% include 'checkout/_elements.js.html' %}
  {# include 'checkout/_stripe_form.js.html' #}
{% endblock script_extra %}
