{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Checkout Dashboard
{% endblock title %}

{% block sub_heading %}
  Checkout Dashboard
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_settings.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <a href="{% url 'checkout.list' %}" class="pure-menu-link">
        <i class="fa fa-shopping-cart"></i>
        Checkout
      </a>
      <a href="{% url 'checkout.list.audit' %}" class="pure-menu-link">
        <i class="fa fa-shopping-cart"></i>
        Audit
      </a>
      <a href="{% url 'checkout.object.payment.plan.instalment.audit.list' %}" class="pure-menu-link">
        <i class="fa fa-credit-card"></i>
        Audit - Payment Plans
      </a>
      <a href="{% url 'checkout.payment.run.list' %}" class="pure-menu-link">
        <i class="fa fa-credit-card"></i>
        Payment Run
      </a>
      <br>
      <a href="{% url 'checkout.object.payment.plan.list' %}" class="pure-menu-link">
        <i class="fa fa-credit-card"></i>
        Payment Plans
      </a>
      <a href="{% url 'checkout.settings' %}" class="pure-menu-link">
        <i class="fa fa-credit-card"></i>
        Settings
      </a>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <a href="{% url 'report.contact.osfees' %}" class="pure-menu-link">
        <i class="fa fa-user"></i>
        Contacts with Outstanding Fees
      </a>
      <br>
      <a href="{% url 'checkout.object.payment.plan.card.fail.list' %}" class="pure-menu-link">
        <i class="fa fa-credit-card"></i>
        Payment Plans - Fail
        <small>
          (failed or requested payment)
        </small>
      </a>
      <br>
      <a href="{% url 'checkout.card.refresh.list' %}" class="pure-menu-link">
        <i class="fa fa-credit-card"></i>
        Card Refresh
        <small>
          (requested card update)
        </small>
      </a>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_settings.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
