{% extends 'dash/base.html' %}

{% block sub_title %}
  Instalment - Mark to Retry
{% endblock sub_title %}

{% block sub_heading %}
  Instalment - Mark to Retry
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include 'checkout/_object_payment_plan_instalment.html' %}
        <p>
          Click the button to retry the instalment request on the next
          payment run.
        </p>
        {% include '_form.html' with submit='Retry Payment' %}
      </div>
    </div>
  </div>
{% endblock %}
