{% extends 'dash/base.html' %}

{% block sub_title %}
  Instalment - Charge Card
{% endblock sub_title %}

{% block sub_heading %}
  Instalment - Charge Card
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'checkout.object.payment.plan' object.object_payment_plan.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'checkout/_object_payment_plan_instalment.html' %}
      {% include '_form.html' with submit='Charge Card' %}
    </div>
  </div>
{% endblock %}
