{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Payment Plan
{% endblock title %}

{% block sub_heading %}
  Payment Plan
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
          {% if not object.deleted %}
            <li class="pure-menu-item">
              <a href="{% url 'checkout.object.payment.plan.delete' object.pk %}" class="pure-menu-link">
                <i class="fa fa-trash-o"></i>
                Delete Payment Plan
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <a href="{% url 'checkout.customer' %}?email={{ object.content_object.checkout_email|urlencode }}">
        {{ object.content_object.checkout_name }}
      </a>
      <br>
      {% if object.deleted %}
        <strike>
      {% endif %}
      {{ object.content_object.checkout_description|join:', ' }}
      {% if object.deleted %}
        </strike>
        <br>
        <strong>This payment plan has been deleted</strong>
      {% endif %}
      <br>
      <br>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <a href="{% url 'checkout.customer' %}?email={{ object.content_object.checkout_email|urlencode }}">
        <i class="fa fa-shopping-cart"></i>
        {{ object.content_object.checkout_email }}
      </a>
      <small>
        <br>
        Payment Plan: {{ object.payment_plan.name }}
        <br>
        Created
        {{ object.created|date:'d/m/Y H:i' }}
      </small>
      <br>
      <br>
    </div>
  </div>
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <tbody>
          {% for item in object.payments %}
            <tr valign="top">
              <td>
                {% if item.deposit %}
                  Deposit
                {% else %}
                  {% if forloop.last %}
                    Final
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if not item.deposit %}
                  {# instalments to display as '3 of 6' rather than '4 of 7' #1389 #}
                  {{ item.count|add:'-1' }}
                {% endif %}
              </td>
              <td>
                {{ item.due|date:'d/m/Y' }}
              </td>
              <td>
                &pound;{{ item.amount }}
              </td>
              <td>
                {{ item.state.name }}
                {% if not item.deposit %}
                  <small>
                    {% if item.checkout_can_charge %}
                      <br>
                      <a href="{% url 'checkout.object.payment.plan.instalment.charge' item.pk %}">
                        <i class="fa fa-shopping-cart"></i>
                        Take Payment
                      </a>
                    {% endif %}
                    {% if item.can_mark_paid %}
                      <br>
                      <a href="{% url 'checkout.object.payment.plan.instalment.paid' item.pk %}">
                        <i class="fa fa-check"></i>
                        Mark&nbsp;Paid
                      </a>
                    {% endif %}
                  </small>
                {% endif %}
              </td>
              <td>
                <small>
                  {% for o in item.checkout_audit %}
                    {{ o.checkout_date|date:'d/m/Y H:i' }}
                    {{ o.state.name }}
                    {% if o.user %}
                      ({{ o.user.username }})
                    {% endif %}
                    {{ o.action.name }}
                    <br>
                  {% endfor %}
                <small>
              </td>
            </tr>
          {% endfor %}
          <tr valign="top">
            <td>
              Total
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <small>
                (&pound;{{ object.total }})
              </small>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
