{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if object.deposit %}
    Deposit
  {% else %}
    Instalment
  {% endif %}
  - send email requesting on-session payment
{% endblock sub_title %}

{% block sub_heading %}
  {% if object.deposit %}
    Deposit
  {% else %}
    Instalment
  {% endif %}
  - send email requesting on-session payment
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'checkout.object.payment.plan' object.object_payment_plan.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        Send an email to
        <a href="mailto:{{ object.checkout_email }}" target="_blank"> {{ object.checkout_email }}</a>.
        The email will contain a link which they can click on to pay the
        {% if object.deposit %}
          deposit.
        {% else %}
          instalment.
        {% endif %}
      </p>
      {% include 'checkout/_object_payment_plan_instalment.html' %}
      {% include '_form.html' with submit='Request on-session payment' %}
    </div>
  </div>
{% endblock %}
