{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Deposit and Instalments - Waiting for Customer
{% endblock title %}

{% block sub_heading %}
  Deposit and Instalments - Waiting for Customer
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_checkout_menu.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>
              Payment Plan
            </td>
            <td>
              Name
            </td>
            <td>
              Instalment
            </td>
            <td>
              O/S Amount
            </td>
            <td>
              Due
            </td>
          </tr>
        </tbody>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.object_payment_plan.payment_plan.name }}
              </td>
              <td>
                {% if x.object_payment_plan.content_object.content_object_url %}
                  <a href="{{ x.object_payment_plan.content_object.content_object_url }}">
                    {{ o.content_object.checkout_name }}
                  </a>
                {% else %}
                  {{ x.object_payment_plan.content_object.checkout_name }}
                {% endif %}
                <small>
                  <a href="{% url 'checkout.customer' %}?email={{ x.object_payment_plan.content_object.checkout_email|urlencode }}">
                    <i class="fa fa-shopping-cart"></i>
                    {{ x.object_payment_plan.content_object.checkout_email }}
                  </a>
                </small>
              </td>
              <td>
                {% if x.deposit %}
                  Deposit
                {% else %}
                  Instalment
                {% endif %}
              </td>
              <td>
                &pound;{{ x.amount }}
              </td>
              <td>
                {{ x.due|date:'d/m/Y' }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
