{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Payment Plans
{% endblock title %}

{% block sub_heading %}
  Payment Plans
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>
              Name
            </td>
            <td>
              Created
            </td>
            <td>
              Payments
            </td>
          </tr>
        </tbody>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'checkout.object.payment.plan' o.pk %}">
                  {{ o.content_object.checkout_name }}
                </a>
                <br />
                <a href="{% url 'checkout.customer' %}?email={{ o.content_object.checkout_email|urlencode }}">
                  <i class="fa fa-shopping-cart"></i>
                  {{ o.content_object.checkout_email }}
                </a>
                <br />
                {{ o.content_object.checkout_description|join:', ' }}
                <br />
                <small>
                  Payment Plan: {{ o.payment_plan.name }}
                </small>
              </td>
              <td>
                {{ o.created|date:'d/m/Y' }}
                {{ o.created|date:'H:i' }}
              </td>
              <td>
                <small>
                  {% include 'checkout/_total_and_instalments.html' %}
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
