{% extends 'checkout/base.html' %}
{% load static %}
{% load checkout_tags %}

{% block title %}
  Payment Run
  {{ payment_run.created|date:'d/m/Y H:i' }}
{% endblock title %}

{% block sub_heading %}
  Payment Run
  {{ payment_run.created|date:'d/m/Y H:i' }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'checkout.payment.run.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>
              Checkout
            </td>
            <td>
              Instalment
            </td>
            <td>
              State
            </td>
          </tr>
        </tbody>
        <tbody>
          {% for item in object_list %}
            <tr valign="top">
              <td>
                <a href="{{ item.instalment.get_absolute_url }}">
                  {{ item.instalment.checkout_name }}
                </a>
                <br>
                <small>
                  <a href="{% url 'checkout.customer' %}?email={{ item.instalment.checkout_email|urlencode }}">
                    <i class="fa fa-shopping-cart"></i>
                    {{ item.instalment.checkout_email }}
                  </a>
                </small>
                <br>
                <small>
                  {% if item.checkout %}
                    {{ item.checkout.checkout_date|date:'d/m/Y H:i' }},
                    {{ item.checkout.description }}
                  {% else %}
                    <i class="fa fa-warning"></i>
                    No Checkout - Internal Error
                  {% endif %}
                </small>
              </td>
              <td>
                <small>
                  <a href="{% url 'checkout.object.payment.plan' item.instalment.object_payment_plan.pk %}">
                    {% for description in item.instalment.checkout_description %}
                      {{ description }}
                    {% endfor %}
                  </a>
                  <br>
                  &pound;{{ item.instalment.amount }}
                  due
                  {{ item.instalment.due|date:'d/m/Y' }}
                </small>
                <br>
                {% if item.instalment.deposit %}
                  <strong>deposit</strong>
                {% endif %}
              </td>
              <td>
                {% if item.checkout %}
                  {% if item.checkout.state.is_fail %}
                    <i class="fa fa-warning"></i>
                  {% endif %}
                  {{ item.checkout.state.name }}
                  <br>
                  &pound;{{ item.checkout.total }}
                  {% if item.checkout.decline_code %}
                    <br>
                    <small>
                      ({{ item.checkout.decline_code }})
                      {{ item.checkout.decline_message }}
                    </small>
                  {% endif %}
                {% else %}
                  <i class="fa fa-warning"></i>
                  Error
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {% include 'base/_paginate.html' %}
    </ul>
  </div>
{% endblock content %}
