{% extends 'checkout/base.html' %}
{% load static %}
{% load checkout_tags %}

{% block title %}
  Payment Run
{% endblock title %}

{% block sub_heading %}
  Payment Run
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr valign="top">
            <td>
              Payment Run
            </td>
          </tr>
        </tbody>
        <tbody>
          {% for payment_run in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'checkout.payment.run.item.list' payment_run.pk %}">
                  {{ payment_run.created|date:'d/m/Y H:i' }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {% include 'base/_paginate.html' %}
    </ul>
  </div>
{% endblock content %}
