{% extends 'checkout/base.html' %}
{% load static %}
{% load checkout_tags %}

{% block title %}
  Payment Plan Setup
{% endblock title %}

{% block sub_heading %}
  Payment Plan Setup
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>
              Name
            </td>
            <td>
            </td>
          </tr>
        </tbody>
        <tbody>
          {% for payment_plan in object_list %}
            <tr valign="top">
              <td>
                {% if payment_plan.can_update %}
                  <a href="{% url 'checkout.payment.plan.update' payment_plan.pk %}">
                    <i class="fa fa-edit"></i>
                    {{ payment_plan.name }}
                  </a>
                {% else %}
                  {{ payment_plan.name }}
                  <small>(In use so cannot be edited)</small>
                {% endif %}
                <br />
                Initial deposit of
                {{ payment_plan.deposit }}%
                followed by
                {{ payment_plan.count }}
                payments at
                {{ payment_plan.interval }}
                month intervals.
                <br />
                <small>
                  {% checkout_payment_plan_example payment_plan 100 %}
                </small>
              </td>
              <td>
                {% if payment_plan.can_update %}
                  <a href="{% url 'checkout.payment.plan.delete' payment_plan.pk %}">
                    <i class="fa fa-trash-o"></i>
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="{% url 'checkout.payment.plan.create' %}" class="pure-menu-link">
          <i class="fa fa-plus"></i>
          Create a new payment plan...
        </a>
      </li>
    </ul>
  </div>
{% endblock content %}
