{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Payment Intents
{% endblock title %}

{% block sub_heading %}
  Payment Intents
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
          {% include 'checkout/_checkout_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                <strong>{{ forloop.counter }}</strong>.
              </td>
              <td>
                {{ x.id }}
              </td>
              <td>
                {{ x.amount }}
                ({{ x.currency|upper }})
                <small>
                  (received {{ x.amount_received }})
                </small>
              </td>
              <td>
                [{{ x.status }}]
              </td>
            </tr>
            {% for data in x.charges %}
              <tr valign="top">
                <td>
                  {{ forloop.parentloop.counter }}.{{ forloop.counter }}.
                </td>
                <td>
                  {% if data.billing_details.name %}
                    {{ data.billing_details.name }}
                  {% endif %}
                  {% if data.billing_details.address.postal_code %}
                    <small>
                      ({{ data.billing_details.address.postal_code }})
                    </small>
                  {% endif %}
                </td>
                <td>
                  {% if data.receipt_url %}
                    <a href="{{ data.receipt_url }}" target="_blank">
                    <i class="fa fa-external-link"></i>
                  {% endif %}
                  {{ data.amount }} ({{ data.currency|upper }})
                  {% if data.receipt_url %}
                    </a>
                  {% endif %}
                </td>
                <td>
                  [{{ data.status }}]
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
