{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Setup Intents
{% endblock title %}

{% block sub_heading %}
  Setup Intents
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_dash_menu.html' %}
          {% include 'base/_paginate.html' %}
          {% include 'checkout/_checkout_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Usage</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list.data %}
            <tr valign="top">
              <td>
                {{ forloop.counter }}.
              </td>
              <td>
                {{ x.id }}
              </td>
              <td>
                {{ x.payment_method_types }}
              </td>
              <td>
                [{{ x.status }}]
              </td>
              <td>
                [{{ x.usage }}]
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
