{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Stripe
{% endblock sub_title %}

{% block sub_heading %}
  Stripe
{% endblock sub_heading %}

{% block meta_extra %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock meta_extra %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" type="text/css" charset="utf-8">
<style>
  #checkout-dialog { display: none; }
</style>
{% endblock stylesheets_extra %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <br>
      Payment by {{ checkout_name }} ({{ checkout_email }})
      for &pound;{{ checkout_total }}
      <br>
      <br>
      <div id="stripe-modal-content">
        {% include 'checkout/_elements.html' %}
      </div>
      <div class="r-box">
        <button id="payment-button" class="pure-button">
          Make Payment for &pound;{{ checkout_total }}
        </button>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      {% include 'checkout/_elements_payment_plan.html' %}
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1">
      <div id="report-status"></div>
    </div>
  </div>

{% endblock %}

{% block script_extra %}
  {% include 'checkout/_elements.js.html' %}
  <script src="{% static 'checkout/js/stripemodal.js' %}"></script>
  <script>
    $("#payment-button").on("click", function() {
      stripeModal.open({
        contentId: "stripe-modal-content",
        hasCloseButton: true,
        clickModalToClose: false,
        clickOverlayToClose: false,
        css: { "margin-left": "30px", "width": "500px", "max-width": "100%", "min-width": "320px"}
      });
    });
    function doSuccessAction() {
      stripeModal.close();
      $("#payment-button").attr("disabled", true);
      $("#report-status").html("Payment for &pound;{{ checkout_total }} was successful");
    }
  </script>
{% endblock script_extra %}
