{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Stripe - Pay on Session
{% endblock sub_title %}

{% block sub_heading %}
  Stripe - Pay on Session
{% endblock sub_heading %}

{% block meta_extra %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock meta_extra %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" type="text/css" charset="utf-8">
{% endblock stylesheets_extra %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
        {% include 'checkout/_elements.html' %}
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      {% include 'checkout/_elements_payment_plan.html' %}
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {% include 'checkout/_elements.js.html' %}
{% endblock script_extra %}
