{% extends 'checkout/base.html' %}
{% load static %}

{% block sub_title %}
  Example app
{% endblock sub_title %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'checkout/_checkout_menu.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'web.checkout.refresh.card' %}" class="pure-menu-link">
              <i class="fa fa-shopping-cart"></i>
              Refresh Card (login as 'staff' or 'web')
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Payment</th>
            <th>Payment</th>
            <th>Payment Plan</th>
          </tr>
        </thead>
        <tbody>
          {% for p in object_list %}
            <tr valign="top">
              <td>
                {{ p.contact.user.get_full_name }}
                <br />
                <small>
                  <a href="{% url 'checkout.customer' %}?email={{ p.contact.user.email|urlencode }}">
                    {{ p.contact.user.email }}
                  </a>
                </small>
              </td>
              <td>{{ p.product.name }}</td>
              <td>{{ p.product.price }}</td>
              <td>{{ p.quantity }}</td>
              <td>
                <a href="{% url 'example.sales.ledger.payment.intent.redirect' p.pk %}">
                  <i class="fa fa-shopping-cart"></i>
                  Payment
                  <br>
                  <small>
                    (No Popup)
                  </small>
                </a>
              </td>
              <td>
                <a href="{% url 'example.sales.ledger.payment.intent.popup.redirect' p.pk %}">
                  <i class="fa fa-shopping-cart"></i>
                  Payment
                  <br>
                  <small>
                    (Popup)
                  </small>
                </a>
              </td>
              <td>
                <a href="{% url 'example.sales.ledger.setup.intent.popup.redirect' p.pk %}">
                  <i class="fa fa-shopping-cart"></i>
                  Setup Intent
                  <br>
                  <small>
                    (for payment plans)
                  </small>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
    </div>
  </div>
  <h3>
    Payment Plans
  </h3>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>
              Name
            </td>
            <td>
              Created
            </td>
            <td>
              Total
            </td>
            <td>
              Payments
            </td>
          </tr>
        </tbody>
        <tbody>
          {% for o in outstanding_payment_plans %}
            <tr valign="top">
              <td>
                <a href="{% url 'checkout.object.payment.plan' o.pk %}">
                  {{ o.content_object.checkout_name }}
                </a>
                <br>
                <small>
                  <a href="{% url 'checkout.customer' %}?email={{ o.content_object.checkout_email|urlencode }}">
                    {{ o.content_object.checkout_email }}
                  </a>
                </small>
                <br>
                {{ o.content_object.checkout_description|join:', ' }}
                <br>
                <small>
                  Payment Plan: {{ o.payment_plan.name }}
                </small>
              </td>
              <td>
                {{ o.created|date:'d/m/Y' }}
                {{ o.created|date:'H:i' }}
              </td>
              <td>
                &pound;{{ o.total }}
              </td>
              <td>
                {% for item in o.payments %}
                  {{ item.count }}.
                  {{ item.due|date:'d/m/Y' }}
                  &pound;{{ item.amount }}
                  {% if item.deposit and not item.state.is_success %}
                    <br>
                    <a href="{% url 'example.object.payment.plan.deposit.charge' item.pk %}">
                      <i class="fa fa-shopping-cart"></i>
                      Charge Deposit
                    </a>
                  {% else %}
                    {% if forloop.last %}
                      final
                    {% endif %}
                  {% endif %}
                  ({{ item.state.name }})
                  <br>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <h3>
    Pay on Session
  </h3>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>
              Payment Plan
            </td>
            <td>
              Name
            </td>
            <td>
              Instalment
            </td>
            <td>
              O/S Amount
            </td>
            <td>
              Due
            </td>
          </tr>
        </tbody>
        <tbody>
          {% for x in pay_on_session %}
            <tr valign="top">
              <td>
                {{ x.object_payment_plan.payment_plan.name }}
              </td>
              <td>
                {% if x.object_payment_plan.content_object.content_object_url %}
                  <a href="{{ x.object_payment_plan.content_object.content_object_url }}">
                    {{ o.content_object.checkout_name }}
                  </a>
                {% else %}
                  {{ x.object_payment_plan.content_object.checkout_name }}
                {% endif %}
                <small>
                  <a href="{% url 'checkout.customer' %}?email={{ x.object_payment_plan.content_object.checkout_email|urlencode }}">
                    <i class="fa fa-shopping-cart"></i>
                    {{ x.object_payment_plan.content_object.checkout_email }}
                  </a>
                </small>
              </td>
              <td>
                {% if x.deposit %}
                  Deposit
                {% else %}
                  Instalment
                {% endif %}
              </td>
              <td>
                &pound;{{ x.amount }}
                <br>
                <a href="{% url 'example.payment.plan.instalment.setup.pay.on.session.redirect' x.pk %}">
                  <i class="fa fa-shopping-cart"></i>
                  Charge
                  {% if x.deposit %}
                    Deposit
                  {% else %}
                    Instalment
                  {% endif %}
                </a>
              </td>
              <td>
                {{ x.due|date:'d/m/Y' }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
