{% extends 'checkout/base.html' %}

{% block sub_title %}
  Example Checkout - Deposit
{% endblock sub_title %}

{% block sub_heading %}
  Example Checkout - Deposit
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Dashboard
            </a>
          </li>
          {% include 'checkout/_checkout_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td>
              Content Object
            </td>
            <td>
              {{ object.object_payment_plan.content_object }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              Total
            </td>
            <td>
              {{ object.object_payment_plan.total }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              {% if object.deposit %}
                <strong>Deposit</strong>
              {% else %}
                Instalment {{ object.count }}
              {% endif %}
            </td>
            <td>
              {{ object.amount }}
              due
              {{ object.due|date:'d/m/Y' }}
            </td>
          </tr>
        </tbody>
      </table>
      {% include '_form.html' with legend='Deposit' submit='Charge Deposit' %}
    </div>
  </div>
{% endblock content %}
