{% extends 'dash/base.html' %}

{% block sub_title %}
  Payment Plans - Process
{% endblock sub_title %}

{% block sub_heading %}
  Payment Plans - Process
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_settings.html' %}
        </ul>
      </div>
    </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include '_form.html' with submit='Process' %}
      </div>
    </div>
  </div>
{% endblock %}
