{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Example Settings
{% endblock sub_title %}

{% block sub_heading %}
  Example Settings
{% endblock sub_heading %}

{% block content %}
  <div class="pure-u-1 pure-u-md-1-4">
    <div class="pure-g">
      <div class="pure-u-1">
        <h4>Example</h4>
      </div>
    </div>
    <div class="r-box">
      <a href="{% url 'example.process.payments' %}" class="pure-menu-link">
        <i class="fa fa-credit-card"></i>
        Process Payments
      </a>
    </div>
    <div class="r-box">
      <a href="{% url 'example.refresh.card.expiry.dates' %}" class="pure-menu-link">
        <i class="fa fa-credit-card"></i>
        Refresh Card Expiry
      </a>
    </div>
  </div>
  {% include 'checkout/_settings.html' %}
  {% include 'mail/_settings.html' %}
{% endblock content %}
