* {
  box-sizing: border-box;
}

#stripe-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#stripe-modal {
  position: absolute;
  background-color: white;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: .6rem;
}

#stripe-modal-content {
  display: none;
  border-radius: 8px;
  background: #fff;
  padding: 2rem 2rem 5rem;
  font-size: 1.2rem;
  height: 100%;
}

#stripe-modal-close {
  box-sizing: border-box;
  position: absolute;
  font-family: sans-serif;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: block;
  text-decoration: none;
  padding: 0 5px;
  font-size: 24px;
  top: -7px;
  right: -7px;
}

#stripe-modal-close span {
  display: inline-block;
  transform: rotate(45deg);
  font-weight: bold;
}
