* {
  box-sizing: border-box;
}

body.modal-open {
  overflow: hidden;
}

form {
  width: 100%;
  margin: 20px auto;
}

label[for="card-number-element"] {
  position: relative;
  color: #8798AB;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

#card-number-element,
#card-expiry-element,
#card-cvc-element {
  margin-bottom: 1.6rem;
  padding-bottom: .4rem;
  border-bottom: 1px solid green;
}

#card-errors { 
  font-size: 1.6rem;
  color: #fa755a;
}

.stripe-card-details > div {
  width: 49.3%;
  margin: 0;
  display: inline-block;
}
#card-expiry-element { margin-right: 5px; }
#card-cvc-element { margin-left: 5px; }

button#card-button {
  display: block;
  background: #34D08C;
  color: white;
  border-radius: 2px;
  border: 0;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
  width: 100%;
  height: 47px;
  outline: none;
}

button#card-button:focus {
  background: #24B47E;
}

button#card-button:active {
  background: #159570;
}


#stripe-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 100;
}

#stripe-modal {
  position: absolute;
  background-color: white;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1.4rem;
  padding: .6rem;
  z-index: 1000;
}

#stripe-modal-content {
  display: none;
  border-radius: 12px;
  background: #fff;
  padding: 2rem;
  font-size: 1.2rem;
  height: 100%;
}

#stripe-modal-close {
  box-sizing: border-box;
  position: absolute;
  font-family: sans-serif;
  background-color: #666;
  color: white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: block;
  text-decoration: none;
  padding: 0 5px;
  font-size: 28px;
  top: .8rem;
  right: .8rem;
}

#stripe-modal-close span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  font-weight: bold;
}

#stripe-modal-company,
#stripe-modal-description,
#stripe-modal-email {
  text-align: center;
}

#stripe-modal-company {
  font-size: 1.5em;
}
